<ion-menu [content]="content" *ngIf="isLoggedIn">
    <ion-header>
        <ion-toolbar>
            <ion-title>Dashboard</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-item menuToggle *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-buttons end>
            <button ion-button title="logout" menuToggle (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>

    </ion-footer>
</ion-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>