page-roles{
    .card-md {
        background: lightskyblue;
        height: 200px;
        overflow-y: visible;
        border-radius: 7px;
    }
    .scroll-content {
      background-color: lightskyblue;
    }
}
